<div>
    <h2 data-translate="eventsearchApp.event.home.title">Events</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="event.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="eventsearchApp.event.home.createLabel">
                        Create new Event
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'eventsearchApp.event.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="eventsearchApp.event.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="eventsearchApp.event.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="eventsearchApp.event.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="eventsearchApp.event.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="language"><span data-translate="eventsearchApp.event.language">Language</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fee"><span data-translate="eventsearchApp.event.fee">Fee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="place"><span data-translate="eventsearchApp.event.place">Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="eventsearchApp.event.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="registerationLink"><span data-translate="eventsearchApp.event.registerationLink">Registeration Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventWww"><span data-translate="eventsearchApp.event.eventWww">Event Www</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventInCityId"><span data-translate="eventsearchApp.event.eventInCity">Event In City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventInSeriesId"><span data-translate="eventsearchApp.event.eventInSeries">Event In Series</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in vm.events track by event.id">
                    <td><a ui-sref="event-detail({id:event.id})">{{event.id}}</a></td>
                    <td>{{event.name}}</td>
                    <td>{{event.description}}</td>
                        <td>{{event.startDate | date:'mediumDate'}}</td>
                        <td>{{event.endDate | date:'mediumDate'}}</td>
                    <td>{{event.language}}</td>
                    <td data-translate="{{'eventsearchApp.Fee.' + event.fee}}">{{event.fee}}</td>
                    <td>{{event.place}}</td>
                    <td>{{event.address}}</td>
                    <td>{{event.registerationLink}}</td>
                    <td>{{event.eventWww}}</td>
                    <td>
                        <a ui-sref="city-detail({id:event.eventInCityId})">{{event.eventInCityId}}</a>
                    </td>
                    <td>
                        <a ui-sref="series-detail({id:event.eventInSeriesId})">{{event.eventInSeriesId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="event-detail({id:event.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event.edit({id:event.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event.delete({id:event.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
